.gameBoard{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .board{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 612px;
  flex-wrap: wrap;

    .tile{
      height: 200px;
      width: 200px;
      background: #b9b6b6;
      border: 2px solid grey;
      display:flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5em;
      color: white;
      font-weight: 900;
    }
  }

  .buttons_container{
    height: 20vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;

    .button{
      background: #b9b6b6;
      height: 100px;
      width: 20%;
      color: black;
      font-weight: 700;
      font-size: 2em;
      border: 2px dotted black;
    }
  }

}
